.esqueci {
    padding: 5rem;
}

.rightSection {
    display: flex;
    justify-content: center;
}

.rightSection .usuario {
    width: 50%;
    margin-top: 7rem;
}

.rightSection .usuario p {
    margin: 1rem 0;
    font-weight: 500;
}

.rightSection .usuario .voltar {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}